
NET GPIO_DIP<0> LOC="U25";
NET GPIO_DIP<0> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<1> LOC="AG27";
NET GPIO_DIP<1> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<2> LOC="AF25";
NET GPIO_DIP<2> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<3> LOC="AF26";
NET GPIO_DIP<3> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<4> LOC="AE27";
NET GPIO_DIP<4> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<5> LOC="AE26";
NET GPIO_DIP<5> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<6> LOC="AC25";
NET GPIO_DIP<6> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<7> LOC="AC24";
NET GPIO_DIP<7> IOSTANDARD="LVCMOS25";


NET "GPIO_COMPSW_C" IOSTANDARD="LVCMOS33";
NET "GPIO_COMPSW_C" LOC="AJ6";
NET "GPIO_COMPSW_E" IOSTANDARD="LVCMOS33";
NET "GPIO_COMPSW_E" LOC="AK7";
NET "GPIO_COMPSW_N" IOSTANDARD="LVCMOS33";
NET "GPIO_COMPSW_N" LOC="U8";
NET "GPIO_COMPSW_S" IOSTANDARD="LVCMOS33";
NET "GPIO_COMPSW_S" LOC="V8";
NET "GPIO_COMPSW_W" IOSTANDARD="LVCMOS33";
NET "GPIO_COMPSW_W" LOC="AJ7";

NET "MIDI_IN" LOC="AJ32";
NET "MIDI_IN" IOSTANDARD="LVCMOS33";
NET "MIDI_IN" CLOCK_DEDICATED_ROUTE = FALSE;


NET "GPIO_COMPLED_C" LOC="E8";
NET "GPIO_COMPLED_C" IOSTANDARD="LVCMOS33";


NET GPIO_LED<0> LOC="H18";
NET GPIO_LED<0> IOSTANDARD="LVCMOS25";
NET GPIO_LED<1> LOC="L18";
NET GPIO_LED<1> IOSTANDARD="LVCMOS25";
NET GPIO_LED<2> LOC="G15";
NET GPIO_LED<2> IOSTANDARD="LVCMOS25";
NET GPIO_LED<3> LOC="AD26";
NET GPIO_LED<3> IOSTANDARD="LVCMOS25";
NET GPIO_LED<4> LOC="G16";
NET GPIO_LED<4> IOSTANDARD="LVCMOS25";
NET GPIO_LED<5> LOC="AD25";
NET GPIO_LED<5> IOSTANDARD="LVCMOS25";
NET GPIO_LED<6> LOC="AD24";
NET GPIO_LED<6> IOSTANDARD="LVCMOS25";
NET GPIO_LED<7> LOC="AE24";
NET GPIO_LED<7> IOSTANDARD="LVCMOS25";

NET USER_CLK 	LOC="AH17";
NET USER_CLK 	IOSTANDARD="LVCMOS25";

NET "USER_CLK" TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK = PERIOD "USER_CLK" 10 ns HIGH 50%;

NET AUDIO_BIT_CLK    LOC="AF18";
NET AUDIO_BIT_CLK     IOSTANDARD="LVCMOS25";
NET AUDIO_SDATA_IN   LOC="AE18";
NET AUDIO_SDATA_IN    IOSTANDARD="LVCMOS25";
NET AUDIO_SDATA_OUT  LOC="AG16";
NET AUDIO_SDATA_OUT   IOSTANDARD="LVCMOS25";
NET AUDIO_SYNC 	     LOC="AF19";
NET AUDIO_SYNC	      IOSTANDARD="LVCMOS25";
NET FLASH_AUDIO_RESET_B		LOC="AG17";
NET FLASH_AUDIO_RESET_B		 IOSTANDARD="LVCMOS25";

